* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #080808;
  --bg-color-2: #101010;
  --text-color: #fff;
  --primary-color: #ea580c;
  --secondary-color: #ffe222;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

#menu-icon {
  display: none;
  color: var(--primary-color);
  font-size: 2.5rem;
}

.logo {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.logo span {
  background: linear-gradient(
    270deg,
    var(--primary-color),
    var(--secondary-color)
    );
  background-clip: text;
  color: transparent;
}

nav > a {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 4rem;
  transition: 0.1s ease-in-out;
  border-bottom: 3px solid transparent;
}

nav > a:hover {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}