* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #080808;
  --bg-color-2: #101010;
  --text-color: #fff;
  --primary-color: #ea580c;
  --secondary-color: #ffe222;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

#menu-icon {
  display: none;
  color: var(--primary-color);
  font-size: 2.5rem;
}

.logo {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  background: linear-gradient(
    270deg,
    var(--primary-color),
    var(--secondary-color)
    );
  background-clip: text;
  color: transparent;
}

nav > a {
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 4rem;
  transition: 0.1s ease-in-out;
  border-bottom: 3px solid transparent;
}

nav > a:hover {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

section {
  min-height: 100vh;
  padding: 10rem 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section:nth-of-type(2n) {
  background-color: var(--bg-color-2);
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 2rem;
}

h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h3 {
  font-size: 4rem;
  margin: 1rem 0;
}

#home p,
#about p,
#contact p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  margin: 3rem 0.5rem;
  transition: 0.1s ease-in-out;
}

.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--primary-color);
  transform: scale(1.2)translateY(-10%);
}

.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--bg-color-2);
  border: 2px solid var(--primary-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--primary-color);
  transition: 0.1s ease-in-out;
}

.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px var(--primary-color),
              0 0 50px var(--primary-color);
}

.project-card img {
  max-width: 300px;
  border-radius: 3rem;
  object-fit: cover;
}

.project-card h3 {
  font-size: 2.5rem;
}

.project-card p {
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--primary-color),
              0 0 20px var(--primary-color);
}

footer {
  padding: 50px 0;
}

footer .social-icons {
  text-align: center;
}

footer ul {
  text-align: center;
  font-size: 1.8rem;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}

footer ul li a {
  color: var(--text-color);
  border-bottom: 3px solid transparent;
  transition: 0.1s ease-in-out;
}

footer ul li a:hover {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

footer p {
  text-align: center;
  margin-top: 40px;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  #menu-icon {
    display: block;
  }
  nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 0 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    display: none;
  }
  nav > a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    text-align: right;
  }
  nav.active {
    display: block;
  }
}